<div class="top-wrapper bg-[url('<%= asset_path('top.jpg') %>')] bg-center h-[calc(100vh-134px)] relative z-0">
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full text-center">
        <h1 class="text-5xl text-white md:text-6xl">SKIN CARE CHEER</h1>
    </div>
</div>