<% content_for(:title, t('.title')) %>
<div class="container mx-auto pt-3">
    <!-- 掲示板一覧 -->
    <div class="row">
        <div class="col-12">
            <div class="grid grid-cols-1 gap-3 max-w-2xl mx-auto">
                <% if @cheer_boards.present? %>
                <%= render @cheer_boards %>
                <% else %>
                <p><%= t('.no_result') %></p>
                <% end %>
            </div>
        </div>
    </div>
</div>