<div class="container mx-auto pt-3">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <!-- 掲示板一覧 -->
            <div class="row">
                <div class="col-12">
                    <div class="grid grid-cols-1 max-w-2xl mx-auto space-y-4">
                        <%= link_to "+ 新規投稿", new_board_path, class: "btn btn-primary" %>
                        <% if @boards.present? %>
                        <% @boards.each do |board| %>
                        <%= render partial: "board", locals: { board: board } %>
                        <% end %>
                        <%= paginate @boards %>
                        <% else %>
                        <div class="mb-3">掲示板がありません</div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>